<%- include('../partials/head1') %>
    <link rel="stylesheet" href="/css/pedidos_detalle.css">
    <link rel="stylesheet" href="/css/navar.css">

    <%- include('../partials/head2') %>

    <body style=" border: 2px; background-image: url(/img/fonto.jpg);">
        <div class="contenedor">
    <header>
        <picture>
          <img src="/img/logofondogris.png" alt="iphone 12">
        </picture>
      </header>
      <nav >
        <a class="black" href="/info">
                <h3>Empresa</h3>
            </a>
            <a class="black" href="/">
                <h3>Productos</h3>
            </a>
            <a class="black" href="/opinion">
                <h3>Contacto</h3>
            </a>
            <a class="black" href="/cuenta">
                <h3><i class="fas fa-user-alt"></i>login/Register</h3>
            </a>
            <a class="black" href="/carrito">
                <h3 class="d-relative">
                    <% if(total){ %>
                        <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                    <% }else{ %>
                        <div id="cont-carrito" class="circle-red">0</div> Carrito
                    <% } %>
                </h3>
            </a>
    </nav>
    <br>

    <section class="info" style=" background-color: rgb(102, 101, 101); height: 1000%; color: white;">
<% if(user.rol == 'admin'){ %>
    <h2 style="text-align: center; padding-top: 20px;">Usuario</h2>
    <div class="table">
        <div class="id">
            <h4>Id</h4>
            <p ><%= usuario.id %></p>
        </div>
        <div class="name">
            <h4 style="color: white;">Nombre</h4>
            <p ><%=usuario.name%> <%=usuario.lastname %></p>
        </div>
        <div class="email">
            <h4>Email</h4>
            <p><%= usuario.email %></p>
        </div>
    </div>
<% } %>
<center>
    <button style="background-color: rgb(0, 0, 0); border-radius: 2em; width: 100px; height: 20px;"><a style="color: rgb(255, 255, 255);" href="/pedido/gestion">Regresar Atras</a></button>
</center>
<div class="pedido-detalle">
    <h2>Detalles del pedido</h2>
    <div class="grid-2">
        <div class="card">
            <div class="detalle">
                <div class="cursive header-detalles">
                    <h3>Fecha</h3>
                    <p>
                        <%= pedido.fecha %>
                    </p>
                </div>
                <div class="mini-card cantidad">
                    <h3>Cantidad</h3>
                    <p>
                        <%= pedido.cantidad_productos %>
                    </p>
                </div>
                <div class="mini-card costo">
                    <h3>Costo</h3>
                    <p>
                        $<%= pedido.costo %>
                    </p>
                </div>
                <div class="mini-card estado">
                    <% if(user.rol == 'admin'){ %>
                        <h3>Estado</h3>
                        <p _id="<%= pedido.id %>" id="estado">
                            <%= pedido.estado %>
                        </p>
                    <% }else{ %>
                        <h3>Estado</h3>
                        <p>
                            <%= pedido.estado %>
                        </p>
                    <% } %>
                </div>
    
                <div class="cursive padding10 t-direccion">
                    <h3>Direccion del pedido</h3>
                </div>
                <div class="mini-card provincia">
                    <h3>Estado</h3>
                    <p>
                        <%= pedido.provincia %>
                    </p>
                </div>
                <div class="mini-card ciudad">
                    <h3>Ciudad</h3>
                    <p>
                        <%= pedido.ciudad %>
                    </p>
                </div>
                <div class="mini-card direccion">
                    <h3>Direccion</h3>
                    <p>
                        <%= pedido.direccion %>
                    </p>
                </div>
            </div>
        </div>
        <div class="mis-products">
            <h2 class="text-productos">Productos</h2>
            <% productos.forEach(producto => { %>
                <div class="productos">
                    <img src="<%= producto.imagen %>" alt="<%= producto.name %>">
                    <div class="mini-detalles">
                        <div class="item">
                            <h4>Nombre</h4>
                            <p><%= producto.name %></p>
                        </div>
                        <div class="item">
                            <h4>Precio Ind</h4>
                            <p>$<%= producto.precio %></p>
                        </div>
                        <div class="item">
                            <h4>Unidades</h4>
                            <p><%= producto.cantidad %></p>
                        </div>
                        <div class="item">
                            <h4>Total</h4>
                            <p>$<%= producto.costo %></p>
                        </div>
                    </div>
                    <div class="descripcion-detalles">
                        <p><%= producto.descripcion %></p>
                    </div>
                </div> 
            <% }); %>
        </div>
    </div>
</div>

<% if(user.rol == 'admin'){ %>
    <script src="/js/pedido.js"></script>
<% } %>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Braulio Ricardo Lopez Chavez</span>
  </div>
  <!-- Copyright -->
</footer>
</section>
</div>
</body>