<%- include('../partials/head1') %>
<link rel="stylesheet" href="/css/cuenta.css">
<link rel="stylesheet" href="/css/navar.css">
<style>h3{ padding: 15px; text-align: center; }</style>
<%- include('../partials/head2') %>

<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
</nav>
<br><br>
<div class="pendientes" style="background-color: white;">
    <% if(pendientes.length > 0){ %>
        <h3>Pedidos Pendientes</h3>
        <% pendientes.forEach(pedido => { %>
            <div class="mis-pedidos">
                <h4>Cantidad</h4>
                <h4>Costo</h4>
                <h4>Fecha</h4>
                <h4>Estado</h4>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p><%= pedido.cantidad_productos %></p>
                </a>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p>$<%= pedido.costo %></p>
                </a>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p class="mb-3"><%= pedido.fecha %></p>
                </a>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p class="mb-3"><%= pedido.estado %></p>
                </a>
            </div> 
        <% }); %>
    <% }else{ %>
        <h3>No hay pedidos pendientes</h3>
    <% } %>

    <center>
        <div class="detalles">
                <% if(user.rol == 'admin'){ %>
                    <div class="btns-admin">
                        <h3>Gestion</h3>
                        <a class="btn btn-white" href="/producto/gestion">Productos</a>
                        <a class="btn btn-white" href="/categoria">Categorias</a>
                        <a class="btn btn-dark" href="/pedido/gestion">Pedidos</a>
                    </div>
                <% } %>
                <h4>Detalles</h4>
            <p><%= user.name %> <%= user.apellido %></p>
            <p><%= user.email %></p>
            <div class="btns">
                <div class="btns-detalles">
                    <a class="btn btn-cerrar btn-white" href="/logout">Cerrar sesion</a>
                </div><br>
            </div>
        </div>
    </center>
    </div>
    <br><br>
</div>

<div class="enviados">
    <% if(enviados.length > 0){ %>
        <h3>Pedidos Enviados</h3>
        <% enviados.forEach(pedido => { %>
            <div class="mis-pedidos">
                <h4>Cantidad</h4>
                <h4>Costo</h4>
                <h4>Fecha</h4>
                <h4>Estado</h4>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p><%= pedido.cantidad_productos %></p>
                </a>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p>$<%= pedido.costo %></p>
                </a>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p class="mb-3"><%= pedido.fecha %></p>
                </a>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p class="mb-3"><%= pedido.estado %></p>
                </a>
            </div> 
        <% }); %>
    <% }else{ %>
        <h3></h3>
    <% } %>
</div>

<div class="entrgados">
    <% if(entregados.length > 0){ %>
        <h3>Pedidos Entregados</h3>
        <% entregados.forEach(pedido => { %>
            <div class="mis-pedidos">
                <h4>Cantidad</h4>
                <h4>Costo</h4>
                <h4>Fecha</h4>
                <h4>Estado</h4>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p><%= pedido.cantidad_productos %></p>
                </a>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p>$<%= pedido.costo %></p>
                </a>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p class="mb-3"><%= pedido.fecha %></p>
                </a>
                <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                    <p class="mb-3"><%= pedido.estado %></p>
                </a>
            </div> 
        <% }); %>
    <% }else{ %>
        <h3></h3>
    <% } %>
</div>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Braulio Ricardo Lopez Chavez</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body>