<%- include('../partials/head1') %>
    <link rel="stylesheet" href="/css/pedidos.css">
    <link rel="stylesheet" href="/css/navar.css">

<%- include('../partials/head2') %>

<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
        
</nav>
<br><br>
<section class="info" style=" border: 2px; background-image: url(/img/fondoblanco.jfif);">
    <br><br>
<section id="confirm-pedido">
    <form action="pedido/pedir" method="POST">
        <h2>Direccion del pedido</h2>
        <%- include('../partials/message') %>
        <div class="i-input">
            <i style="color: #4d4d4e;" class="fas fa-boxes"></i>
            <input disabled type="text" placeholder="Productos: <%= total %>">
        </div>
        
        <div class="i-input">
            <i style="color: #4d4d4e;" class="fas fa-dollar-sign"></i>
            <input disabled type="text" placeholder="Costo Total: $<%= costo_total %>">
        </div>

        <div class="i-input">
            <i style="color: #251d71;" class="fas fa-globe-americas"></i>
            <input type="text" name="provincia" placeholder="Estado">
        </div>
    
        <div class="i-input">
            <i style="color: #251d71;" class="fas fa-building"></i>
            <input type="text" name="ciudad" placeholder="Ciudad">
        </div>
    
        <div class="i-input">
            <i style="color: #d01c1c;" class="fas fa-route"></i>
            <input type="text" name="direccion" placeholder="Direccion">
        </div>
        
        <input type="submit" value="Confirmar compra">
    
        <button style="background-color: black; color: white; border-radius: 2em; width: 80px; height: 30px;"><a style="color: white
        ;" href="/carrito">Cancelar</a></button>
    </form>
</section>
<br><br>
</section>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Tienda CELLSHOP</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body>