<%- include('partials/head1') %>
    <link rel="stylesheet" href="/css/carrito.css">
<%- include('partials/head2') %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >TiendaCellShop</title>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navar.css">

</head>
<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">

<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
        
</nav>
<br>


<section class="info" style=" border: 2px; background-image: url(/img/fondoblanco.jfif);">
<main style="font-family: helvetica;">
    
    <% if(carrito){ %>
        <% if(carrito.length > 0){ %>
            <div id="modify-carrito" class="productos">
                <% carrito.forEach(producto => { %>
                    <div class="card">
                        <img src="<%= producto.producto.imagen %>" alt="<%= producto.producto.name %>">
                        <div class="info-product"><a href="/producto/<%= producto.producto.id %>"><%= producto.producto.name %></a></div>
                        <p class="p-unidades"><span>Unidades: <span id="<%= producto.producto_id %>"><%= producto.unidades %></span></span></p>
                        <span id="<%= producto.producto_id %>2">$<%= producto.unidades * producto.precio %></span>
                    </div>
                <% }); %>
            </div>
        <% }else{ %>
            <h3 style="text-align: center;">El carrito esta vacio !Añade algun producto¡</h3>
        <% } %>
    <% }else{ %>
        <h3 style="text-align: center;">El carrito esta vacio !Añade algun producto¡</h3>
    <% } %>
    <br><br><br><br><br>
    <div class="text-carrito">
        <div class="cont-carrito">
            <h3>Carrito</h3>
            <p id="precio-total">Precio total: $<%= costo_total %></p>
            <a id="limpiar" class="btn btn-cancelar">Limpiar</a>
            <a href="/pedido" class="btn btn-continuar">Comprar</a>
        </div>
    </div>
</main>
</section>
<script src="/js/carrito2.js"></script>

<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Tienda CELLSHOP</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body>








