<%- include('partials/head1') %>
<link rel="stylesheet" href="/css/cuenta.css">

<link rel="stylesheet" href="/css/navar.css">
<%- include('partials/head2') %>

<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
</nav>
<br><br><br>
<div style="margin: 10px auto;" >
    <%- include('partials/message') %>
</div>
<main class="container" style=" border: 2px; background-image: url(/img/fondoblanco.jfif);">
    <div class="cuenta">
        <div class="div-mis-pedidos">
            <h3>Mis pedidos</h3>
            <% if(pedidos.length > 0){ %>
                <h4 style="text-align: center; padding: 10px; width: 70%; margin: 0 auto;">!Muchas gracias¡ Por tu pedido</h4>
            <% } %>
            <% if(pedidos.length > 0){ %>
                <% pedidos.forEach(pedido => { %>
                    <div class="mis-pedidos">
                        <h4>Cantidad</h4>
                        <h4>Costo</h4>
                        <h4>Fecha</h4>
                        <h4>Estado</h4>
                        <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                            <p><%= pedido.cantidad_productos %></p>
                        </a>
                        <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                            <p>$<%= pedido.costo %></p>
                        </a>
                        <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                            <p class="mb-3"><%= pedido.fecha %></p>
                        </a>
                        <a class="mb-3" href="/pedido/detalle/<%= pedido.id %>">
                            <p class="mb-3"><%= pedido.estado %></p>
                        </a>
                    </div> 
                <% }); %>
            <% }else{ %>
                <p>No tienes pedidos pendientes</p>
            <% } %>
        </div>
        <div class="detalles">
            <h4>Detalles</h4>
            <!-- <img src="https://ui-avatars.com/api/?name=David+Ruiz" alt="Img Usuario"> -->
            <p><%= user.name %> <%= user.apellido %></p>
            <p><%= user.email %></p>
            <div class="btns">
                <div class="btns-detalles">
                    <a class="btn btn-cerrar btn-white" href="/logout">Cerrar sesion</a>
                </div>
                <% if(user.rol == 'admin'){ %>
                    <div class="btns-admin">
                        <h3>Gestion</h3><br>
                        <a class="btn btn-white" href="/producto/gestion">Productos</a>
                        <a class="btn btn-white" href="/categoria">Categorias</a>
                        <a class="btn btn-white" href="/pedido/gestion">Pedidos</a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</main>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Tienda CELLSHOP</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body>