<!DOCTYPE html>
<html lang="en">

<%- include('partials/head1') %>
<link rel="stylesheet" href="/css/estilos.css">
<%- include('partials/head2') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >TiendaCellShop</title>
    <!-- CUSTOM CSS -->
    
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="/css/estilos.css">

</head>
<section class="info">
   <body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor" >
            <%- include('partials/encabezado.html') %>
        <%- include('partials/navbar.html') %>
        <br>
        <div class="nav">
            <div class="menu" style="background-color: white; color: black;" >
                <ul>
                    <li class="div-desplegable" >
                        <p >Categorias <span><i class="fas fa-sort-down"></i></span></p>
                        <ul class="desplegable"  style="background: rgb(118, 111, 111);">
                            <% categorias.forEach(categoria => { %>
                                <li><a href="/categoria/<%= categoria.name %>"><%= categoria.name %></a></li>
                            <% }); %>
                        </ul>
                    </li>
                </ul><h3 style="text-align: center;">Nuestros productos</h3>

            </div>
        </div>
        <main  style=" border: 2px; background-image: url(/img/fondoblanco.jfif);">
            <%- include('partials/message') %>
            <div id="container" class="container">
                <% productos.forEach(producto => { %>
                    <section class="card">
                        <a style="padding: 0;" href="/producto/<%= producto.id %>"><img src="<%= producto.imagen %>" alt="<%= producto.name %>"></a>
                        <a class="black" href="/producto/<%= producto.id %>">
                            <h3><%= producto.name %></h3>
                            <p>$<%= producto.precio %></p>
                        </a>
                    </section>
                <% }); %>
            </div>
        </main>
    
        <footer>
            <span>
                <p>
                    <center> Todos los derechos reservados © 2022 Tienda CELLSHOP</center>
                </p>
            </span>
        </footer>
        </div>
</body>
</section>
</html>