<%- include('partials/head1') %>
<link rel="stylesheet" href="/css/estilos.css">
<%- include('partials/head2') %>

<section class="info">
    <body style=" border: 2px; background-image: url(./img/fonto.jpg);" >
    
        <div class="contenedor">
            <%- include('partials/encabezado.html') %>
        <%- include('partials/navbar.html') %>
        <br>
        <section class="articulo destacado">
            <article class="articulo destacado">
                <div class="contenedor-texto">
                    <div>
                        <h2 id="titulo"><a>Siempre estamos actualizados</a></h2>
                    </div>
                    <p id="extracto">
                        Es indispensable amoldarnos a todos los cambios que se presentan en el mundo actual. Conocer siempre más
                        y mejorar
                        nuestra inteligencia emocional, será de gran ayuda para enfrentarnos a un futuro cada día más cambiante
                        e incierto.
                    </p>
                </div>
                <div class="contenedor-thumbnail">
                        <img id="inicio" src="./img/hero_iphone14_preorder__c4g2wjzuugqe_medium_2x.jpg" alt="" />
                </div>
            </article>
        </section>
        <br>
        <form action="/" method="post">
        <main >
            <section>
                <div >
                    <div>
                        <h2 ><a>Canjea tu smartphone actual por crédito</a></h2>
                    </div>
                    <p >
                    Encuentra el iPhone perfecto para ti.
                    Con Apple Trade In, puedes cambiar un smartphone que cumpla con los requisitos por crédito para comprar un iPhone
                    nuevo.4 Es bueno para ti y para el planeta. MagSafe
                    Súmale una cartera o una funda magnética. O las dos. Y disfruta también una carga inalámbrica más rápida.
                    </p>
                </div>
            <section>
            <section class="fondo-inicio" >
                <div class="contenedor--inicio">
                    <div class="contenedor--recomendado">
                        <div class="inicio--recomendado">
                            <h3 class="recomendado--nombre">
                                iOS es una plataforma muy estable y fácil de usar. Por lo tanto, los dispositivos iOS garantizan una capacidad de
                                respuesta rápida. El sistema operativo iOS hace funcionar el hardware con menos RAM o núcleos en comparación con
                                Android.
                            </h3>
                            <img id="inicio2" src="./img/fondonegromanzanablanca.jpg" alt="">
                        </div>
                    </div>
    
                    <div class="contenedor--recomendado">
                        <div class="inicio--recomendado">
                            <h3 class="recomendado--nombre">
                                El programa de actualización de iPhone incluye AppleCare+, que es uno de los pocos programas de garantía extendida
                                recomendados por Consumer Reports para determinados consumidores. Esto significa que, si tu teléfono se daña, puedes
                                llevárselo directamente a Apple para que lo arreglen o lo reemplacen como parte de tu plan.
                            </h3>
                            <img id="inicio2" src="./img/APPLECARE.jpeg" alt="">
                        </div>
                    
                    </div>
                    
                    <article class="articulo">
                        <aside class="sidebar">
                            <div class="acerca-de">
                                <img src="./img/personacel.jpg" class="img-perfil" alt="" />
                        
                                <div class="bio">
                                    <p class="titulo">¡Hola!</p>
                                    <h4>
                                        Sabemos lo que es mejor para ti 
                                        Visitanos.
                                    </h4>
                                </div>
                            </div>
                            <nav class="menu">
                                <a href="../info">Empresa</a>
                                <a href="/">Producto</a>
                                <a href="/opinion">Contacto</a>
                            </nav>
                        </aside>
                    </article>
                </div>
            </section>
        </main>
            </form>
            <footer>
                <span>
                <p><center> Todos los derechos reservados © 2022 Tienda CELLSHOP</center></p>
                </span>
            </footer>
            </div>
    </body>
</section>