<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="/css/navar.css">
<link rel="stylesheet" href="/css/paginacontactos.css">

<body style=" border: 2px; background-image: url(/img/fonto.jpg);">>
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >    
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
</nav>
<br><br>

<section class="info" style=" border: 2px; background-image: url(/img/oct-2021__ei1qv4959muu_large.jpg);">
    <br><br>
<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Contactanos</h2>
				<h4>Gracias por tu opinion</h4>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
                    <form action="" method="" >
				  <label class="control-label col-sm-2" for="fname">Nombres:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Ingresa el nombre" name="fname" required>
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Apellidos:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Ingresa los apellidos" name="lname" required>
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Ingresa el correo" name="email" required>
				  </div>
				</div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ciudad">Ciudad:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="ciudad" placeholder="Ingresa tu ciudad" name="ciudad" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="sexo">Genero:</label>
                    <div class="col-sm-10">
                  <select name="sexo" id="sexo" required>
                    <option value="">Seleccione una Opcion</option>
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                    <option value="otro">Otro</option>
                  </select>
                    </div>
                </div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="message">Comentario:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5"  id="message" name="message" required></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				  </div>
				</div>
            </form>
			</div>
		</div>
	</div>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
</section>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Tienda CELLSHOP</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body
