/* Selector Unversal */
* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Selector de id*/

#admin {

    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: row;
    padding: 30px;
    text-align: justify;
}



#contenido {
    height: 86%;
    width: 90%;
    margin: 0.5em auto;
    border-radius: 0.5em;
    color: rgb(226, 241, 255);
    flex-wrap: wrap;
}

.primavera {
    flex-wrap: wrap;
}

#cur2 {
    width: 200px;
        height: 30%;
        text-align: justify;
        font-size: large;
        height: auto;
        width: 300px;
        margin: 10px;
        box-shadow: 0 0 10px rgb(0, 0, 0);
        border-radius: 2em;
        background-color: rgb(172, 175, 175);
}

#cur2 img {
    display: flexbox;
        height: 100%;
        width: 100%;
        border-radius: 2em;
}

#cur2 button {
    background-color: rgb(244, 23, 23);
        color: black;
        width: 200px;
        font-size: medium;
        font-family: verdana;
        font-weight: bold;
        border-radius: 1em;
}



#cur {
    width: 200px;
    height: 30%;
    text-align: justify;
    font-size: large;
    height: auto;
    width: 300px;
    margin: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 2em;
    background-color: rgb(172, 175, 175);
}

#cur img {
    display: flexbox;
    height: 100%;
    width: 100%;
    border-radius: 2em;
}

#cur button {
    background-color: rgb(17, 161, 218);
    color: black;
    width: 100px;
    font-size: medium;
    font-family: verdana;
    font-weight: bold;
    border-radius: 1em;
}

/* Selector de clase */
.texto {

    text-align: center;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin: 15px;

}

.encabezado_a {

    text-align: center;
    background: rgb(56, 26, 12);
    color: rgb(255, 255, 255);
    margin: auto 2em;
    border-radius: 0.5em;

}


.articulo1 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid black;
    flex-direction: column;
}

.articulo1 div {
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 30px;
    border: 2px solid black;
}

.encabezado {
    text-align: center;
}

#a {
    flex-wrap: wrap;
}

ul {
    text-align: center;

}

li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;

}

a {
    color: rgb(0, 8, 255);
}

.imagenes {
    height: 200px;
    width: 200px;

}

.articulo11 {

    margin: 5px;
    display: flex;
    text-align: justify;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

}

.articulo1 {

    border: 2px solid rgb(25, 0, 255);
    background-color: rgb(129, 129, 98);
    border-radius: 8px;
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: stretch;

}

button {
    background-color: rgb(23, 219, 245);
    color: rgb(0, 0, 0);
    border-radius: 2em;
    width: 100px;
}


.img {
    height: 150px;
    width: 150px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30%;
}

#a1 {
    display: flex;
    flex-wrap: wrap;
}

.i1 {
    width: 200px;
    height: 200px;
    border-radius: 35%;
}

h3{
    text-align: center;
}


input{
    margin: 5px;
}

label[id="lab"]{
    
}
