.categorias{
    width: 85%;
    margin: 0 auto;
}

.categorias > h3{
    text-align: center;
    padding: 30px 0;
}

.table-categorias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.table-categorias > h3{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.table-categorias p{
    line-height: 20px;
}

.btn{
    padding: 3px;
    width: 50%;
    margin: 0 auto;
    border-radius: 4px;
}

.btn-edit{
    background: #18a907;
    color: #fff;
}

.btn-delete{
    background: red;
    color: #fff;
    cursor: pointer;
}

.add-categoria input[type="text"], .edit input[type="text"]{
    display: block;
    width: 100%;
    margin: 0px 0;
    color: rgb(66 65 65);
    border: none;
    outline: none;
    padding: 0 10px;
}

.add-categoria i, .edit i{
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}

.i-input{
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.add-categoria{
    margin: 40px 0;
    text-align: center;
}

.add-categoria > h3{
    padding: 0 0 10px 0;
}

.btn{
    margin-bottom: 13px;
    font-size: 15px;
    cursor: pointer;
}

.btn-dark{
    color: #fff;
    background: #00ec47;
    padding: 10px;
    margin-top: 10px;
}

.btn-white{
    padding: 10px;
    color: #000;
    border: 1px solid #000;
    margin-top: 15px;
}

#alert-ok{
    text-align: center;
    margin: 0 auto 10px;
    background: #dcb139;
    width: 50%;
    color: #131315;
    border-radius: 2px;
    padding: 5px;
    display: none;
}

#añadiendo{
    padding-bottom: 10px;
}

/* EDIT  */
.edit{
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.edit > h3{
    padding-bottom: 20px;
}

/* PRODUCTOS POR CATEGORIA */
.productos_categoria{
    text-align: center;
}

.productos_categoria > h3{
    padding: 20px 0;
}

@media(min-width: 1024px){
    #gestion-categorias{
        display: flex;
        align-items: center;
    }

    #table-categorias{
        width: 65%;
        margin-right: auto;
    }
}