.mis-pedidos{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.mis-pedidos a p{
    color: #000;
}

.mis-pedidos h4{
    padding-bottom: 10px;
    border-bottom: 1px solid #5d5c5c;
    margin-bottom: 10px;
}

.div-mis-pedidos > h3{
    text-align: center;
    padding-top: 20px;
}

.div-mis-pedidos > p{
    text-align: center;
    padding: 20px 0;
}

.mb-3{
    margin-bottom: 10px;
}

.detalles{
    width: 80%;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.detalles h4{
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    font-weight: 600;
}

.detalles p{
    font-size: 15px;
    padding-bottom: 1px;
}

.btn{
    margin-bottom: 13px;
    font-size: 15px;
}

.btn-dark{
    color: #fff;
    
    background: #00ec47;
    padding: 10px;
    display: inline-block;
    margin-top: 15px;
}

.btn-white{
    padding: 9px 10px;
    color: #000;
    border: 1px solid #000;
    margin-top: 15px;
}

.btn-cerrar{
    display: block;
    width: 115px;
    text-align: center;
}

/* RESPONSIVE */
@media(min-width: 768px){
    .cuenta{
        display: flex;
    }
    .detalles{
        width: 40%;
        margin-top: 18px;
        padding-right: 15px;
    }

    .div-mis-pedidos {
        width: 60%;
    }
}

@media(min-width: 1024px){
    .div-mis-pedidos{
        width: 80%;
    }
    .detalles{
        padding-right: 20px;
    }
}