.productos{
    width: 85%;
    margin: 0 auto;
}

.productos > h3{
    text-align: center;
    padding: 30px 0;
}

#table-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    row-gap: 5px;
}

#table-productos > h3{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

#table-productos p{
    line-height: 20px;
}


/* ---------------- */

.add-producto input[type="text"], .add-producto input[type="number"], .edit-producto input[type="text"], .edit-producto input[type="number"]{
    display: block;
    width: 100%;
    margin: 0px 0;
    color: rgb(66 65 65);
    border: none;
    outline: none;
    padding: 0 10px;
}

.add-producto i, .edit-producto i{
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}

.i-input{
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btn{
    margin-bottom: 13px;
    font-size: 15px;
    cursor: pointer;
}

.btn-dark{
    color: #fff;
    background: #00ec47;
    padding: 10px;
    margin-top: 10px;
}

.add-producto > h3{
    text-align: center;
    padding: 20px;
}

#categoria_product{
    display: block;
    padding: 7px;
    border: 1px solid #000;
    outline: none;
}

.btn-enviar{
    border: none;
    margin: 10px auto;
    width: 100%;
}

.custom-input-file {
    background-color: #ff1d9d;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
  }

  .btn-white{
    padding: 9px 10px;
    color: #000;
    border: 1px solid #000;
    display: block;
    text-align: center;
}

/* EDIT --------------------------- */
.edit{
    width: 80%;
    margin: 0 auto;
}

.edit h3{
    padding: 20px;
    text-align: center;
}

.img-edit{
    width: 50%;
    height: 150px;
    display: block;
    margin: 10px auto;
}

@media(min-width: 1024px){
    .add-producto > h3{
        padding: 0 0 20px 0;
    }
    
    #table-productos{
        width: 50%;
        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }

    .add-producto{
        float: right;
        width: 45%;
    }
}

@media(min-width: 1200px){
    #table-productos{
        width: 50%;
    }
}