header {
    background-color: #222222;
    display: flex;
    justify-content: center;
    max-height: 200px;
    width: 100%;
    height: 200px;
}

header picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

header picture img {
    width: auto;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-evenly;
}

nav a {
    color: #44043e;
    font-size: 2.2em;
    text-decoration: none;
    padding: 5px 30px;
    align-items: center;
    margin: 14px 0px;
}

nav a:hover {
    border-bottom: 2px solid #000000;
    margin: 12px 0px;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-evenly;
}

nav a {
    color: #44043e;
    font-size: 2.2em;
    text-decoration: none;
    padding: 5px 30px;
    align-items: center;
    margin: 14px 0px;
}

nav a:hover {
    border-bottom: 2px solid #000000;
    margin: 12px 0px;
}

footer span {
    font-size: 2em;
    color: #a9a9a9;
}
@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 1.5em;
        margin: 3px 0px;
    }

    nav a:hover {
        border-bottom: 2px solid #949494;
        margin: 2px 0px;
    }

    footer span {
        font-size: 0.8em;
    }

    .formulario--campo textarea {
        margin-left: 0em;
    }

    .formulario--campo input {
        margin-left: 0em;
    }
}

footer {
    background-color: #585353;
    padding: 3em;
    text-align: center;
    margin-top: auto;
}

footer span {
    font-size: 2em;
    color: #a9a9a9;
}
body {
    font-size: 62.5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 95%;
    margin: 20px auto;
    flex-direction: row;
}

