#estado{
    cursor: pointer;
}

.table{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.pedido-detalle{
    width: 90%;
    margin: 20px auto;
    font-family: helvetica;
    font-size: 14px;
}

.pedido-detalle > h2{
    text-align: center;
    padding-bottom: 15px;
}



.detalle{
    text-align: center;
    row-gap: 10px;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #5b5b5f, #5b5a5f, #62616b);
    background: linear-gradient(to right, #545459, #444447, #515155);
    padding: 30px 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "cantidad costo estado"
        "t-direccion t-direccion t-direccion"
        "provincia ciudad direccion";
    color: #fffbfb;
    font-family: helvetica;
}

.mini-card{
    padding: 10px 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px #ffffff;
}

.cursive{
    grid-area: header;
    padding: 0 10px 10px 10px;
    font-family: cursive;
}

.padding10{
    padding: 10px;
}

.header-detalles{
    grid-area: header;
}

.cantidad{
    grid-area: cantidad;
}

.costo{
    grid-area: costo;
}

.estado{
    grid-area: estado;
}

.t-direccion{
    grid-area: t-direccion;
    padding: 10px;
}

.provincia{
    grid-area: provincia;
}

.ciudad{
    grid-area: ciudad;
}

.direccion{
    grid-area: direccion;
}

.text-productos{
    text-align: center;
    padding: 20px 0 15px 0;
}

.productos{
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    color: #000;
    font-family: 'Open Sans';
    font-size: 15px;
    box-shadow: 0 0 3px #6262f5;
    border-radius: 15px;
    margin-bottom: 30px;
}

.productos img{
    width: 100%;
    height: 300px;
}

.mini-detalles{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0;
}

.descripcion-detalles{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

@media(min-width: 768px){
    .pedido-detalle{
        width: 100%;
    }
    
    .grid-2{
        display: flex;
        justify-content: space-evenly
    }

    .mis-products{
        width: 46%;
    }

    .card{
        height: 200px;
    }
}

@media(min-width: 1024px){
    .table{
        width: 40%;
    }
}

@media (min-width: 1200px){
    .mis-products {
        width: 38%;
    }
}