/* KEYFRAMES */
@keyframes des{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* HEADER */
.header{
height: 260px;
}


#buscador{
    padding: 6px;
    display: flex;
    margin: 20px auto;
    width: 70%;
    color: #252525;
    position: relative;
}

#buscador input[type="text"]{
    width: 96%;
    padding: 7px;
    outline: none;
    border: none;
}

#buscador div{
    position: relative;
    right: 0;
    top: 0;
    background: #fff;
    padding: 3px;
    cursor: pointer;
}

#submit-buscador{
    padding: 1px 10px;
    position: absolute;
    left: 0;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.menu{
width: 70%;
margin: 0 auto;
text-align: center;
font-size: 25px;
background: #174f54f2;
color: #ffffff;
padding: 2px;
}

.desplegable{
display: none;
opacity: 0;
position: relative;
z-index: 10;
}

.desplegable li{
padding: 5px 0
}

.desplegable a{
color: #f2f2f2;

}

.div-desplegable span{
position: relative;
top: -5px;
left: 15px;
}

.div-desplegable a:hover{
background: #f2f2f22a;
}

.div-desplegable p{
cursor: pointer;
}

.menu ul:hover .desplegable{
display: block;
animation: des 300ms;
opacity: 1;
}

.desplegable a{
padding: 3px;
}



/* PRODUCTOS */
main{
padding-top: 20px;
}

main > h3{
text-align: center;
display: block;
padding: 10px 0 30px 0;
font-size: 20px;
font-family: 'Open Sans', sans-serif;
font-weight: 100;
}

.card{
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 3px 0 #7b7be6;
    margin-bottom: 25px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.card img{
width: 100%;
height: 300px;
}

.card a{
    color: #212121;
    display: block;
    padding: 15px;
    text-align: center;
    min-height: 55px;
}

.card a h3{
float: left;
}

.card a p{
float: right;
}

/* DETALLES DE PRODUCTO */

.div-detalles{
    width: 80%;
    margin: 30px auto;
    font-family: 'Font Awesome 5 Free';
    position: relative;
}

.div-detalles img{
    width: 100%;
    height: 300px;
}

.detalles{
    margin-bottom: 30px;
    border: 1px solid #ccc;
    background: #74716c;
}

.detalles > h2{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background: #74716c;
    text-align: center;
    color: #000;
}

.detalles .descripcion{
    text-align: center;
    padding: 10px 0;
}

.detalles .mini-detalles{
    display: flex;
    text-align: center;
    margin-top: 5px;
    padding: 10px 0;
    background: #ffffff;
    border-top: 1px solid #ccc;
}

.detalles .mini-detalles p:first-child{
    width: 46%;
}

.btn-carrito{
    position: absolute;
    top: 0;
    right: 0;
    color: #da8e04;
    background: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 0 0 0 10px;
}

/* RESPONSIVE */

@media(min-width: 768px){
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    margin: 0 40px;
}

.card{
    width: 100%;
}

.div-detalles{
    display: flex;
}

.img{
    width: 80%;
    margin-right: 30px;
}

.detalles{
    margin-bottom: 134px;
    width: 80%;
}

.detalles .descripcion{
    padding: 15px 10px;
}

}

@MEDIA(min-width: 1024px){

.nav{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-evenly;
}

.menu{
    margin: 20px;
    padding: 2px;
    width: 40%;
}

.buscador{
    width: 40%;
}

.detalles .descripcion{
    padding: 20px;
}

}

@media(min-width: 1200px){
.container{
    grid-template-columns: repeat(3, 1fr);
}

.detalles{
    margin-bottom: 125px;
}

.div-detalles img {
    width: 100%;
    height: 300px;
}

.img{
    width: 110%;
}

}