<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CellShop</title>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/index.css">
    