<nav >
        <a class="black" href="/info">
                <h3>Empresa</h3>
            </a>
            <a class="black" href="/">
                <h3>Productos</h3>
            </a>
            <a class="black" href="/opinion">
                <h3>Contacto</h3>
            </a>
            <a class="black" href="/cuenta">
                <h3><i class="fas fa-user-alt"></i>login/Register</h3>
            </a>
            <a class="black" href="/carrito">
                <h3 class="d-relative">
                    <% if(total){ %>
                        <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                    <% }else{ %>
                        <div id="cont-carrito" class="circle-red">0</div> Carrito
                    <% } %>
                </h3>
            </a>
            
</nav>