<script src="/js/productos.js" type="module"></script>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Derechos Reservados:
    <span class="text-white">Braulio Ricardo Lopez Chavez</span>
  </div>
  <!-- Copyright -->
</footer>