<%- include('../partials/head1') %>
<link rel="stylesheet" href="/css/categorias.css">
<link rel="stylesheet" href="/css/productos.css">
<link rel="stylesheet" href="/css/navar.css">
<style>.header{ height: 150px; }</style>
<%- include('../partials/head2') %>

<section class="info" >
    
<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
        
</nav>
<br><br><br>
<div class="productos_categoria"class="black"  style=" border: 2px; background-image: url(/img/fondoblanco.jfif);"  style="color: black;">
    <% if(categoria){ %>
        <h3 style="color: black;" >Productos de la categoria: <%= categoria.name %></h3>
        <% if(productos[0]){ %>
            <center>
                <button style="background-color: rgb(0, 0, 0); border-radius: 2em; width: 100px; height: 20px;"><a style="color: rgb(255, 255, 255);" href="/pedido/gestion">Regresar Atras</a></button>
            </center>
            <br><br>
            <div class="container"  style="color: black;">
                <% productos.forEach(producto => { %>
                    <section class="card">
                        <a style="padding: 0;" href="/producto/<%= producto.id %>"><img src="<%= producto.imagen %>" alt="<%= producto.name %>"></a>
                        <a class="black" href="/producto/<%= producto.id %>">
                            <h3><%= producto.name %></h3>
                            <p>$<%= producto.precio %></p>
                        </a>
                    </section>
                <% }); %>
            </div>
        <% }else{ %>
            <h3>No hay productos de esta categoria</h3>
        <% } %>
    <% }else{ %>
        <h3>La categoria '<%= name %>' no existe</h3>
    <% } %>
</div>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Braulio Ricardo Lopez Chavez</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body>
</section>