<%- include('../partials/head1') %>
<link rel="stylesheet" href="/css/categorias.css">
<link rel="stylesheet" href="/css/navar.css">
<%- include('../partials/head2') %>

<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
</nav>
<br><br>
<section class="info" style=" border: 2px; background-image: url(/img/fondoblanco.jfif);">
    <br><br>
<div class="edit">
    <% if(categoria){ %>
        <h3>Editar nombre de categoria: <%= categoria.name %></h3>
        <%- include('../partials/message') %>
        <form action="/categoria/edit/<%= categoria.id %>" method="POST">
            <div class="i-input">
                <i style="color: #4d4d4e;" class="fas fa-link"></i>
                <input type="text" name="name" placeholder="Nombre" value="<%= categoria.name %>">                    
            </div>
        <input type="submit" value="Guardar" class="btn btn-dark">
        <a href="/categoria" class="btn btn-white">Cancelar</a>
        </form>
    <% }else{ %>
        <h3>La categoria no existe</h3>
    <% } %>
</div>
<br><br>
</section>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Tienda CELLSHOP</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body>