<%- include('../partials/head1') %>
<link rel="stylesheet" href="/css/categorias.css">
<link rel="stylesheet" href="/css/navar.css">
<%- include('../partials/head2') %>

<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
</nav>
<br><br>
<section class="info" style=" background-color: rgb(255, 252, 252);">
<div class="categorias">
    <h3>Gestionar categorias</h3>
        <h3 id="alert-ok">Eliminada correctamente</h3>
        <h4 id="noCategorys" style="text-align: center; color: #f50707;"></h4>
        <% if(categorias.length <= 0){ %>
            <h4 id="noCategoryEjs" style="text-align: center; color: #f50707;">No hay categorias, !Añade una¡</h4>
        <% } %> 
        <%- include('../partials/message') %>
    <div id="gestion-categorias" class="gestion-categorias">
        <div id="table-categorias" class="table-categorias">
        <% if(categorias.length > 0){ %>
                <h3>Id</h3>
                <h3>Nombre</h3>
                <h3>Editar</h3>
                <h3>Eliminar</h3>
    
                <% categorias.forEach(categoria => { %>
                        <p><%= categoria.id %></p>
                        <p><%= categoria.name %></p>
                        <a href="/categoria/edit/<%= categoria.id %>" class="btn btn-edit"><i class="fas fa-pen"></i></a>
                        <p _id="<%= categoria.id %>" class="delete btn btn-delete"><i _id="<%= categoria.id %>" class="delete fas fa-trash-alt"></i></p>
                <% }); %>
        <% } %>
        </div>
        <div class="add-categoria" >
            <h3>Añadir categoria</h3>
            <p id="añadiendo"></p>
            <form id="add-categoria">
                <div class="i-input">
                    <i style="color: #4d4d4e;" class="fas fa-link"></i>
                    <input id="name-new-category" type="text" name="name" placeholder="Nombre">                    
                </div>
                <input type="submit" value="Añadir" class="btn btn-dark">
            </form>
        </div>
    </div>
    <br><br><br><br>
    <center>
        <div class="detalles">
                <% if(user.rol == 'admin'){ %>
                    <div class="btns-admin">
                        <a class="btn btn-white" href="/producto/gestion">Productos</a>
                        <a class="btn btn-dark" href="/categoria">Categorias</a>
                        <a class="btn btn-white" href="/pedido/gestion">Pedidos</a>
                    </div>
                <% } %>
            </div>
        </div>
    <br><br>
    
    </center>
</div>

</section>
<script src="/js/categorias.js"></script>
<br><br><br>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Braulio Ricardo Lopez Chavez</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body>