<%- include('../partials/head1') %>
<link rel="stylesheet" href="/css/productos.css">
<link rel="stylesheet" href="/css/navar.css">
<style>.header{ height: 150px; }</style>
<%- include('../partials/head2') %>

<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
</nav>


<% if(producto){ %>
    <div class="div-detalles">
        <div class="img">
            <img src="<%= producto.imagen %>" alt="<%= producto.name %>">
        </div>
        <div class="detalles">
            <h2><%= producto.name %></h2>
            <p class="descripcion"><%= producto.descripcion %></p>
            <div class="mini-detalles">
                <p>Precio: $<%= producto.precio %></p>
                <p>Categoria: <%= producto.categoria %></p>
            </div>
            <p id="add-carrito" _id="<%= producto.id %>" class="btn-carrito"><i _id="<%= producto.id %>" class="fas fa-cart-plus"></i></p>
        </div>
    </div>
<% }else{ %>
    <h2>El producto no existe</h2>
<% } %>

<script src="/js/carrito.js"></script>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Tienda CELLSHOP</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body>