<%- include('../partials/head1') %>
<link rel="stylesheet" href="/css/gestion_products.css">
<link rel="stylesheet" href="/css/navar.css">
<%- include('../partials/head2') %>

<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
</nav>
<br>
<section class="info" style=" background-color: rgb(255, 252, 252); height: 500px;">
<div class="productos">
    <h3>Gestionar productos</h3>
    <h4 style="text-align: center; color: #f70606;" id="message"></h4>
    <%- include('../partials/message') %>
    <div id="gestion-productos">
        <div id="table-productos">
            
        </div>
        <div class="add-producto">
            <h3>Añadir producto</h3>
            <form action="/producto/add" method="POST" enctype="multipart/form-data" id="add-producto">
                <div class="i-input">
                    <i style="color: #4d4d4e;" class="fas fa-link"></i>
                    <input name="name" type="text" placeholder="Nombre">                    
                </div>

                <div class="i-input">
                    <i style="color: #4d4d4e;" class="fas fa-link"></i>
                    <input name="descripcion" type="text" placeholder="Descripcion">                    
                </div>

                <div class="i-input">
                    <i style="color: #4d4d4e;" class="fas fa-link"></i>
                    <input name="precio" type="number" placeholder="Precio">                    
                </div>

                <div class="i-input">
                    <i style="color: #4d4d4e;" class="fas fa-link"></i>
                    <input name="stock" type="number" placeholder="Stock">                    
                </div>
                
                <div class="i-input">
                    <i style="color: #4d4d4e;" class="fas fa-link"></i>
                    <input type="text" disabled placeholder="Categoria">                    
                    <select name="categoria" id="categoria_product">
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.id %>"><%= categoria.name %></option>
                        <% }); %>
                    </select>
                </div>
                
                <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
                    <input name="imagen" type="file" id="fichero-tarifas" class="input-file" value="">
                    Subir imagen
                </div>

                <input type="submit" value="Añadir producto" class="btn btn-dark btn-enviar">
            </form>
            <a href="/cuenta" class="btn btn-white">Cancelar</a>

        </div>
    </div>
</div>
</section>
<script src="/js/productos.js"></script>
</div>

<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Tienda CELLSHOP</span>
  </div>
  <!-- Copyright -->
</footer>
</body>