<%- include('../partials/head1') %>
<link rel="stylesheet" href="/css/auth.css">
<link rel="stylesheet" href="/css/navar.css">
<%- include('../partials/head2') %>
<body style=" border: 2px; background-image: url(/img/fonto.jpg);">
    <div class="contenedor">
<header>
    <picture>
      <img src="/img/logofondogris.png" alt="iphone 12">
    </picture>
  </header>
  <nav >
    
    <a class="black" href="/info">
            <h3>Empresa</h3>
        </a>
        <a class="black" href="/">
            <h3>Productos</h3>
        </a>
        <a class="black" href="/opinion">
            <h3>Contacto</h3>
        </a>
        <a class="black" href="/cuenta">
            <h3><i class="fas fa-user-alt"></i>login/Register</h3>
        </a>
        <a class="black" href="/carrito">
            <h3 class="d-relative">
                <% if(total){ %>
                    <div id="cont-carrito" class="circle-red"><%= total %> <i class="fas fa-shopping-cart"></i> Carrito</div>
                <% }else{ %>
                    <div id="cont-carrito" class="circle-red">0</div> Carrito
                <% } %>
            </h3>
        </a>
</nav>
<br><br>
<section class="info" style=" border: 2px; background-image: url(/img/oct-2021__ei1qv4959muu_large.jpg);">
    <br><br>
<section class="auth" style="background-color: white;">
    <form action="/signin" method="POST">
        <h2>Login</h2>
        <%- include('../partials/message') %>
        <div class="i-input">
            <i style="color: #d01c1c;" class="fas fa-envelope"></i>
            <input type="email" name="email" placeholder="Email">
        </div>
        
        <div class="i-input">
            <i style="color: #4d4d4e;" class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password">
        </div>
        

        <input type="submit" value="Ingresar">

        <a href="/signup">¿No tienes cuenta? Registrate aqui</a>
    </form>
</section>
<br><br>
</section>
<footer class="text-white text-center text-lg-start" style="background-color: #232a2a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <span class="text-white">© 2023 Derechos Reservados: Tienda CELLSHOP</span>
  </div>
  <!-- Copyright -->
</footer>
</div>
</body>